.image {
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: calc( 100vh - 20px);
  max-width: 100%;
  width: auto;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .75);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
